<h1>Movie Search</h1>

<%= form_tag('/results', {:method => :get}) do %>
  <%= text_field_tag :search %>
  <%= submit_tag %>
<% end %>



<!-- THE UNORGANIZED, MESSY IN-CLASS NOTES: -->
<!-- params.require(:movie).permit(:search)

params = 
	{
		action: "asdas"
		controller: "asd"
		search: "Charlie"
		momo: "awesome"
	}

name="movie[search]"

params[:momo] -->


